# Managed by Ansible (roles/cluster_switch), from ansible/inventory.yaml and
# terraform/terraform.tfvars. Read by /usr/local/bin/cluster (bin/cluster).
CLUSTER={{ cluster_name }}
HOSTS="{{ groups['servers'] | join(' ') }}"
LAB_HOSTS="{{ groups['lab'] | join(' ') }}"
HOME_HOST={{ groups['home'][0] }}
{% for h in groups['servers'] %}
MAC_{{ h }}={{ hostvars[h].mac }}
IP_{{ h }}={{ hostvars[h].ansible_host }}
{% endfor %}
POWEROFF_KEY=/root/.ssh/homelab-poweroff
POWEROFF_USER={{ poweroff_user }}
